*{
    background-color: #081b29;
}

#calculator {
	border: 1px solid black;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(4, 0fr);
	gap: 10px;
}

#display {
	grid-column: 1 / 5;
	display: flex;
	gap: 10px;
}

button {
	height: 50px;
	width: 50px;
	font-size: 18px;
    color: aliceblue;
}

#result {
    color: #00abf0;
    text-align: right;
}

#operator {
	color: #00abf0;
	text-align: right;
}